<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.infiniteloops">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pkg_list_view.Simple_Listview"
            android:parentActivityName=".HomeScreen" />
        <activity android:name=".pkg_list_view.Custom_Listview"
            android:parentActivityName=".HomeScreen"></activity>

        <activity android:name=".pkg_recycler_view.Simple_recycler_view"
            android:parentActivityName=".HomeScreen"></activity>

        <activity android:name=".pkg_recycler_view.Custom_RecycelerView"
            android:parentActivityName=".HomeScreen"></activity>
    </application>

</manifest>