<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.infiniteloops">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".login.Login_Activity" />
        <!-- Facebook -->
        <activity
            android:name=".HomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pkg_list_view.Simple_Listview"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".pkg_list_view.Custom_Listview"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".pkg_recycler_view.Simple_recycler_view"
            android:parentActivityName=".HomeScreen" />
        <activity
            android:name=".pkg_recycler_view.Custom_RecycelerView"
            android:parentActivityName=".HomeScreen" />
        <!-- Facebook Login Start -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="FB Login" />
            </intent-filter>
        </activity>
        <!-- Facebook login END -->
        <activity android:name=".ICardView.ICardView" />
        <activity android:name=".pkg_recycler_view.ThreeRV" />
        <activity
            android:name=".iviewpager.Material_View_pager"
            android:label="@string/title_activity_material__view_pager"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
    </application>

</manifest>